<td width="242" align="right" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="right" background="images/right_bg.gif">
		<table width="84%" border="0" align="center" cellpadding="0" cellspacing="0" height="50">
			<tr>
				<td height="8" colspan="2"></td>
			</tr>
			<tr>
				<td width="8%" align="left"><img src="images/arew.gif" width="11" height="7" /></td>
				<td width="92%" align="left" class="right_nav">
				<p style="margin-top: 0; margin-bottom: 0">
					<a href="Services"> <font face="Verdana" style="font-size: 11pt; font-style:italic" color="#1F497D">Speed of
						Trust</font></a>
				</p>
				<p style="margin-top: 0; margin-bottom: 0">
					<font face="Verdana" style="font-size: 10pt; font-weight: 700" color="#1F497D"> by Stephen M.R. Covey</font>
				</td>
			</tr>
			<tr>
				<td width="8%" align="left"><img src="images/arew.gif" width="11" height="7" /></td>
				<td width="92%" align="left" class="right_nav">
				<p style="margin-top: 0; margin-bottom: 0">
					<a href="/services"> <font face="Verdana" style="font-size: 11pt; font-style:italic" color="#1F497D"> Fierce Conversations</font></a>
				</p>
				<p style="margin-top: 0; margin-bottom: 0">
					<font face="Verdana" style="font-size: 10pt; font-weight: 700" color="#1F497D"> by Susan Scott</font>
				</td>
			</tr>
			<tr>
				<td width="8%" align="left"><img src="images/arew.gif" width="11" height="7" /></td>
				<td width="92%" align="left" class="right_nav">
				<p style="margin-top: 0; margin-bottom: 0">
					<a href="Services.html"> <font face="Verdana" style="font-size: 11pt; font-style:italic" color="#1F497D">	 Senior Leadership Team Coaching </font></a>
				</p>
				<p style="margin-top: 0; margin-bottom: 0">
					<font face="Verdana" style="font-size: 10pt; font-weight: 700" color="#1F497D"> </font>
				</td>
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table></td>
	</tr>
	<tr>
		<td><img src="images/right_bot.gif" width="242" height="35" /></td>
	</tr>
