
<div class="content">
	<h2>Team Builder Gary McKeel</h2>
	<p>
		Superintendent of the Burton School District in Porterville.
		His career has involved twenty years of supporting, celebrating,
		and participating in the achievement of highly functioning
		administrative teams.
	</p>
	<h2>Captain Jon Rock</h2>
	<p>
		Jon has spent more than half his life sailing the local waters
		of southern California. One of his greatest joys is introducing
		new people to art of sailing.
	</p>
</div><!-- end of context -->
