<%= render 'header'%>
<table width="779" border="0" align="center" cellpadding="0" cellspacing="0" style="background-image:url(images/bg.gif);">
	<tr>
		<td width="537" align="left" valign="top" style="padding:5px 5px 5px 21px">
		<p class="MsoNormal">
			<font face="Verdana"><b> <span style="font-size: 24pt; color: black">About us</span></b></font>
		</p>
		<p class="MsoNormal" style="line-height: 10.0pt">
			<font face="Verdana"><b> <span style="font-size: 12.0pt; color: black">Team Builder Gary McKeel</span></b></font>
		</p> 
		<p class="MsoNormal" style="line-height: 15.0pt">
			<font face="Verdana"> <span style="font-size: 10.0pt; color: black">
				Superintendent of the Burton School District in Porterville. His career 
				has involved twenty years of supporting, celebrating, and participating 
				in the achievement of highly functioning administrative teams. </span></font>
		</p>
		<p class="MsoNormal" style="line-height: 10.0pt">
			<font face="Verdana"><b> <span style="font-size: 12.0pt; color: black">Captain Jon Rock</span></b></font>
		</p> 
		<p class="MsoNormal" style="line-height: 15.0pt">
			<font face="Verdana"> <span style="font-size: 10.0pt; color: black">
				Jon has spent more than half his life sailing the local waters of 
				southern California. One of his greatest joys is introducing new 
				people to art of sailing. </span></font>
		</p>
		<%= render 'side_bar'%>
		<%= render 'footer'%>
