<%= render 'header'%>
<p class="MsoNormal" style="line-height: 10.0pt">
	<font face="Verdana"><b> <span style="font-size: 12.0pt; color: black">Team Builder Gary McKeel</span></b></font>
</p>
<p class="MsoNormal" style="line-height: 15.0pt">
	<font face="Verdana"> <span style="font-size: 10.0pt; color: black"> Superintendent of the Burton School District in Porterville. His career
			has involved twenty years of supporting, celebrating, and participating
			in the achievement of highly functioning administrative teams. </span></font>
</p>
<p class="MsoNormal" style="line-height: 10.0pt">
	<font face="Verdana"><b> <span style="font-size: 12.0pt; color: black">Captain Jon Rock</span></b></font>
</p>
<p class="MsoNormal" style="line-height: 15.0pt">
	<font face="Verdana"> <span style="font-size: 10.0pt; color: black"> Jon has spent more than half his life sailing the local waters of
			southern California. One of his greatest joys is introducing new
			people to art of sailing. </span></font>
</p>
<%= render 'side_bar'%>
<%= render 'footer'%> 