<%= render 'header'%>
<table width="779" border="0" align="center" cellpadding="0" cellspacing="0" style="background-image:url(images/bg.gif);">
	<tr>
		<td width="537" align="left" valign="top" style="padding:5px 5px 5px 21px">
		<p class="MsoNormal">
			<b><font "4" face="Verdana"><b>Sailing Charters</b></font></b>
		</p>
		<p class="MsoNormal">
			<font face="Verdana">What better way to enjoy Channel
				Islands National Park than from the deck of your own private yacht? The
				Santa Barbara Channel, which runs between mainland California and Santa Cruz
				Island, offers pristine sunsets, affable wildlife, and beautiful coastline.
				Interestingly, this area is home to the greatest diversity of cetaceans
				(whales and dolphins) than any other place on earth. Sea lions and dozens of
				species of sea birds are also regular visitors. The Channel Islands Center
				for Leadership and Team Building can help you explore these sights on your
				very own vessel with friends, family, or coworkers.</font>
		</p>
		<p class="MsoNormal">
			&nbsp;
		</p>
		<p class="MsoNormal">
			<font face="Verdana"><b>Day Charter for Family</b></font>
		</p>
		<p class="MsoNormal">
			<font face="Verdana">For a group family and friends,
				almost nothing compares to a day on the water. Young and old alike can take
				pleasure in a breath-taking sail along the rugged California coast,
				accompanied by native dolphin riding along the bow wave of your majestic
				sailing vessel. Teach your kids the value of self-sufficiency at sea,
				learning the basics of navigation and safe seamanship. Open their eyes to a
				world beyond the television set, and experience firsthand the wonders of the
				sea. Your own personal USCG-certified Captain will instruct you on seafaring
				basics; or, you may relax and just take in the many sights that the Channel
				Islands have to offer. </font>
		</p>
		<p class="MsoNormal">
			<font face="Verdana">Click <u> <span style="color: #548DD4">here</span></u> for scheduling options and
				rates. </font>
		</p>
		<p class="MsoNormal">
			&nbsp;
		</p>
		<p class="MsoNormal">
			<font face="Verdana"><b>Day Charter for Businesses</b></font>
		</p>
		<p class="MsoNormal">
			<font face="Verdana">Perhaps your employees need to be
				rewarded for a job well done, and you would like to give them the trip of a
				lifetime. No previous sailing experience is necessary, as you will be
				accompanied by your own USCG-certified Captain aboard a gorgeous Beneteau
				40&#8217; sloop. Relax with wine and hors d'oeuvres, watch the sunset, and gawk at
				the local wildlife and remote island coastline. Or, if you prefer a more
				hands-on approach, you may help the captain navigate for a more active day
				at sea.</font>
		</p>
		<p class="MsoNormal">
			<font face="Verdana">Click <u> <span style="color: #548DD4">here</span></u> for scheduling options and
				rates. </font>
		</p>
		<p class="MsoNormal">
			<font face="Verdana">If your organization is looking
				for an educational team building experience, instead of a casual day at sea,
				please click <u><span style="color: #548DD4"><%= link_to 'here', services_path %></span></u></font>
		</p>
		<p class="MsoNormal">
			<font face="Verdana"><b>Rates</b></font>
		</p></td>
<%= render 'side_bar'%>
<%= render 'footer'%>
