<%= render 'header'%>
<table width="779" border="0" align="center" cellpadding="0" cellspacing="0" style="background-image:url(images/bg.gif);">
	<tr>
		<td width="537" align="left" valign="top" style="padding:5px 5px 5px 21px">
		<p class="MsoNormal">
			<font face="Verdana"><b> <span style="font-size: 24pt; color: black">Contact</span></b></font>
		</p>
 
		<p class="MsoNormal" style="line-height: 15.0pt">
			<font face="Verdana"> <span style="font-size: 10.0pt; color: black">
			For any questions, comments, or for more information on scheduling a 
			consultation, please feel free to contact us at: <br />
			<a href="mailto:info@CITeamBuilding.com">info@CITeamBuilding.com</a><br />
			1(805)555-5555
			 </span></font>
		</p>
<%= render 'side_bar'%>
<%= render 'footer'%>
