<%= render 'header'%>
		<table width="779" border="0" align="center" cellpadding="0" cellspacing="0" style="background-image:url(images/bg.gif);">
			<tr>
				<td width="537" align="left" valign="top" style="padding:5px 5px 5px 21px">
				<div id="I2_sys_txt_frm_div" systemelement="true" contenteditable="true">
					<b><font face="Verdana" size="6">Contact Us</font></b>
					<p>
						<font face="Verdana">For any questions, comments, or for more
							information on scheduling a consultation, please feel free to contact us
							at:</font>
					</p>
					&nbsp;
				</div>
				<p>
						<font face="Verdana"><a href="mailto:info@CITeamBuilding.com">info@CITeamBuilding.com</a> </font>
					</p>
<%= render 'side_bar'%>
<%= render 'footer'%>
