<%= render 'header'%>
<p class="MsoNormal" style="line-height: 10.0pt">
	<font face="Verdana"><b> <span style="font-size: 12.0pt; color: black"> 123 Fake St.
			<br />
			Ventra, CA 00000
			<br />
			Google Maps URL
			<br />
		</span></b></font>
</p>
<p class="MsoNormal" style="line-height: 15.0pt">
	<font face="Verdana"> <span style="font-size: 10.0pt; color: black"> From the 101 freeway, take the Victoria Ave. exit southbound until you reach Channel Islands Harbor Blvd.
			Turn right, then make a left on Peninsula Rd, which is the first stoplight. Follow this road until the very
			end, and park in the lot on the left. </span></font>
</p>
<%= render 'side_bar'%>
<%= render 'footer'%> 