
<div class="content">
	<p>
		From the 101 freeway, take the Victoria Ave. exit 
		southbound until you reach Channel Islands Harbor Blvd. 
		Turn right, then make a left on Peninsula Rd, which is the 
		first stoplight. Follow this road until the very end, and 
		park in the lot on the left. 
	</p>
</div><!-- end of context -->
 