<%= render 'header'%>
<table width="779" border="0" align="center" cellpadding="0" cellspacing="0" style="background-image:url(images/bg.gif);">
	<tr>
		<td width="537" align="left" valign="top" style="padding:5px 5px 5px 21px">
		<p class="MsoNormal">
			<font face="Verdana"><b> <span style="font-size: 24pt; color: black">Directions</span></b></font>
		</p>
		<p class="MsoNormal" style="line-height: 10.0pt">
			<font face="Verdana"><b> <span style="font-size: 12.0pt; color: black">
				
				123 Fake St.<br />
				Ventra, CA 00000<br />
				Google Maps URL<br />
			</span></b></font>
		</p> 
		<p class="MsoNormal" style="line-height: 15.0pt">
			<font face="Verdana"> <span style="font-size: 10.0pt; color: black">
				From the 101 freeway, take the Victoria Ave. exit southbound until you reach Channel Islands Harbor Blvd. 
				Turn right, then make a left on Peninsula Rd, which is the first stoplight. Follow this road until the very 
				end, and park in the lot on the left. </span></font>
		</p>

<%= render 'side_bar'%>
<%= render 'footer'%>
