<%= render 'header' %>
<table width="779" border="0" align="center" cellpadding="0" cellspacing="0" style="background-image:url(images/bg.gif);">
	<tr>
		<td width="537" align="left" valign="top" style="padding:5px 5px 5px 21px">
		<table width="509" height="31" border="0" cellpadding="0" cellspacing="0" class="text">
			<tr>
				<td height="31" background="images/head_bar.gif"><h1>Welcome</h1></td>
			</tr>
		</table>
		<div id="I2_sys_txt_frm_div" systemelement="true" contenteditable="true">
			&nbsp;
			<p>
				<font face="Verdana">Team Building Channel Islands would like to offer
					your organization the opportunity for better communication, improved
					leadership skills, and&nbsp;the general camaraderie that accompanies the art
					of sailing a vessel. Not only do groups learn the intricacies involved
					in properly sailing a boat, but they must do so cooperatively, as a
					group working together. </font>
			</p>
			<p>
				<font face="Verdana">Conversely, if you and your team would like to
					celebrate a job well done with a leisurely sail around our beautiful
					coast, allow us to indulge you! An entire day&nbsp;will be devoted to
					treating your group with the experience of enjoying our ocean from the
					deck of your very own chartered vessel. The local wildlife - dolphins,
					sea lions, many species of birds, and maybe even whales - adds dramatic
					detail to the gorgeous&nbsp;blue Pacific. Reward your crew with an experience
					they will never forget.</font>
			</p>
		</div>
		<p>
			&nbsp;
		</td>
		<%= render 'side_bar' %>
		<%= render 'footer' %>
