<%= render 'header' %>

		<p class="MsoNormal" style="line-height: 15.0pt">
			<font face="Verdana"> <span style="font-size: 10.0pt; color: black"> Team Building Channel Islands would like to offer your organization the
					opportunity for better communication, improved leadership skills, and
					the general camaraderie that accompanies the art of sailing a vessel.
					Not only do groups learn the intricacies involved in properly sailing
					a boat, but they must do so cooperatively, as a group working together. </span></font>
		</p>
		<p class="MsoNormal" style="line-height: 15.0pt">
			<font face="Verdana"> <span style="font-size: 10.0pt; color: black"> Conversely, if you and your team would like to celebrate a job well
					done with a leisurely sail around our beautiful coast, allow us to
					indulge you! An entire day will be devoted to treating your group
					with the experience of enjoying our ocean from the deck of your
					very own chartered vessel. The local wildlife - dolphins, sea lions,
					many species of birds, and maybe even whales - adds dramatic detail
					to the gorgeous blue Pacific. Reward your crew with an experience
					they will never forget.</span></font>
		</p> <%= render 'side_bar' %>
		<%= render 'footer' %>
