<div class="content">
	<h2>Leadership Training</h2>
	<p>
	Leadership training and team building efforts are comprised 
	of many elements. Experience has allowed our associates to 
	help single out the most efficient means of bringing team 
	members together in a cohesive, functional unit. We will 
	bring over two decades of the best thinking and practices 
	effecting the potential outcome for your executive team. 
	We are committed to the success of your organization's explicit 
	goals for training, and as such, we will modify our program to 
	your specific needs.
	</p>

	<h2>Day Sailing Charter</h2>
	<p>
	At Channel Islands Center for Leadership and Team building, we believe
	that people learn best through hands-on participation in a challenging
	environment. Learning is most effective when actually experienced
	firsthand. Additionally, each team member gains self-awareness through
	reflection on one's own behavior, feedback from others, and by experimenting
	with new ways of approaching a particular goal.
	<p>			
	Sailing involves realistic and demanding activity that allows the concepts
	of leadership and teamwork to become apparent to members of the group. We
	build up an open, supportive atmosphere, in which leaders and team members
	can take risks, and learn to develop their attitude and skills. Such an
	atmosphere supports each individual's personal growth and reinforces the
	goals of the organization.
	</p>
	</p>
	<h2>Day Sailing Charter with Leadership Consultants</h2>
	<p>
	For twenty years, we have been meeting with professional learning teams,
	 attempting to bring the most current understanding of: How to form and 
	 evaluate a group's commitment to the values of their organization. To 
	 determine the levels of trust among each team member. The team's 
	 willingness to be held accountable for the goals of the organization. 
	 In providing the facilitation for these trainings we have discovered 
	 that it is critical to get the “right people on the bus and in the best 
	 seats.”
    <p>
	Having a Leadership Consultant working with the executive learning team 
	often helps the team to see how the unintended ripple of one team member 
	can change the direction of and spirit of the entire team. The 
	conversation begins with a simple question, “Where are we going?” During 
	the day that question will be answered along with the question, “Who will 
	share this journey with me?” Try thinking about how you would respond to 
	those questions as one of you, in the role of captain, attempts to bring 
	the yacht “about.” We promise an exhilarating experience, the beginning 
	transformation of your executive team and a level of sailing activity 
	that will build an institutional memory to last a lifetime.
    </p>

	</p>
</div><!-- end of context -->